{% extends 'base.html' %}

{% block content %}
<section id="leaderboard" class="section leaderboard">
    <h2 class="section-title fade-in">Leaderboard</h2>
    <div class="row fade-in">
        <table class="table fade-in">
            <thead>
                <tr>
                    <th>Display Name</th>
                    <th>People Helped</th>
                    <th>Rank</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sam Hutchins</td>
                    <td>33 people</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Alex Ravano</td>
                    <td>29 people</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Kim Kade</td>
                    <td>17 people</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Jane Doe</td>
                    <td>10 people</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>7 people</td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
