{% extends 'base.html' %}

{% block content %}
<section id="profile" class="section profile">
    <h2 class="section-title fade-in">Profile</h2>
    <div class="row profile-box fade-in">
        <img class="profile-image fade-in" src="https://thispersonnotexist.org/downloadimage/Ac3RhdGljL21hbi9zZWVkNDM4MC5qcGVn" alt="Amongla Swag">
        <div class="profile-info fade-in">
            <p><strong>Name:</strong> Amongla Swag</p>
            <p><strong>Created:</strong> 01/01/0001</p>
            <p><strong>People Helped:</strong> 100</p>
            <p><strong>Rank:</strong> 100</p>
            <p><strong>Kudos:</strong> 1000</p>
        </div>
    </div>
</section>
{% endblock %}
